# Q1. What is a database? Differentiate between SQL and NoSQL databases.
## Answer :
#### A database is a collection of structured information or data typically stored in a electronically operated system. A databse is usually controlled by the database management system (DBMS).

### SQL and NoSQL Databases
#### structured query language(SQL) is a programming language for both technical and non technical minded users to manipulate, manage and change data in a relational database. SQL works best with the structured data, such as name and class, which have relations between different entities. In SQL data is generally stored in tabular form

#### NoSQL Database doesn't mean it doesn't use SQL, it actually means that it doesn't use SQL only. where SQL works best with structured data, here NoSQL works with Structured, semi-structured and non structured data as well. it stores data in a manner other than SQL. NoSQL uses non-tabular data for example : image, audio, video and etc

#

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
## Answer :
#### DDL Stands for DATA DEFINITION LANGUAGE. These commands are used to modify the structure of our database and database objects. for example these commands can be used to add, remove, modify the table objects within a database.
### DDL Commands are :
#### 1. CREATE
#### 2. DROP
#### 3. ALTER
#### 4. TRUNCATE
###### --------------------------------------------------------------------------
### 1. CREATE
#### This command is used to create table in the relational databases

### 2. DROP
#### DROP command is used to delet an whole table or database from the relational database. the drop statement in SQL removes an whole component from our database.

### 3. ALTER 
#### The ALTER Statement in a relational database is used to add, delete, modify and etc, components within an existing table.

### 4. TRUNCATE
#### TRUNCATE command in SQL, deletes the data from the table but not the table itself

#

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
## Answer :
#### DML stands for DATA MANIPULATION LANGUAGE. table and formulas are generally very useful whil e communicating with data in a database upto a point in SQL. there is a time comes when we actually want to execute some fairly complex data interactions, at that time DML helps us a lot. when it comes to define, manioulate, add within existing data, in the databse, DML provides us a convenient way to do so

### DML commands are :
#### 1. INSERT
#### 2. UPDATE
#### 3. DELETE
###### ----------------------------------------------------------------------------------
### 1. INSERT
#### INSERT Command is used to add data within an existing table of one or more records, in SQL

### 2. UPDATE
#### UPDATE command is used to add update/change data of one or more records within an existing table, in SQL

### 3. DELETE
#### DELETE command is used to delete or destroy one or more data records within an exitinf table, in SQL

#

# Q4. What is DQL? Explain SELECT with an example.
## Answer :
#### DQL stands for DATA QUERY LANGUAGE. it is a part of Structured Query Language (SQL) which allows us to get and organize data. 
######
### SELECT COMMAND
#### the main DQL command is SELECT, which helps us to extract the data and execute operations in it.
######
### For Example :
#### SELECT Column1 from Table2;
#### (this command gives us the record of column1(COLUMN) from table2(TABLE))

#

# Q5. Explain Primary Key and Foreign Key.
## Answer :
#### Primary key ensures that the data within a column in a table is unique. any value of the column cannot be NULL
#### For Example : stu_roll_no. , Employee_ID and etc

#### Foreign key is a set of attributes of a table that refers to the primary of another table. it's a link between 2 tables

#

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
## Answer :

import mysql.connector

mydb = mysql.connector.connect(
    host = ""
    user = ""
    password = ""
)
mycursor = mydb.cursor()
mycursor.execute("Your Query")
mydb.close()

In [2]:
# cursor function read the data from the the existing table within the database
# execute function helps to perform any action within our database directly from the python

#

# Q7. Give the order of execution of SQL clauses in an SQL query.
## Answer :
#### From, Join
#### where
#### group by
#### having
#### select
#### order by
#### top